.app-body {
  padding: 10px;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.app-body .loading {
  width: 10px;
  display: inline-block;
  text-align: left;
}

.app-body input[type='submit'] {
  margin: 10px
}

.app-body textarea {
  min-width: 50vw;
  min-height: 30vh;
}

.app-body table {
  width: 0%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  white-space: nowrap;
  border-collapse: collapse;
  border-spacing: 0;
}

.app-body table th {
  padding: 4px;
  border: 1px solid #2e2e2e;
  background-color: black;
}

.app-body table td {
  padding: 4px;
  border: 1px solid #2e2e2e;
  background-color: #3a3a3a;
}