body {
  margin: 0;
  background-color: #282c34;
  font-size: 0.8em;
  color: white;
  /* Source: https://meta.stackexchange.com/q/364048 */
  font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Ubuntu Mono", "Roboto Mono", Menlo, Monaco, Consolas, monospace;
}
